<ion-content>
  <!-- main content -->
  <router-outlet></router-outlet>
</ion-content>

<!-- bottom tabs content -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home" routerLinkActive="active">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button
      tab="activity"
      routerLink="/activity"
      routerLinkActive="active"
    >
      <ion-icon name="analytics-outline"></ion-icon>
      Activity
    </ion-tab-button>
    <ion-tab-button
      tab="transactions"
      routerLink="/transactions"
      routerLinkActive="active"
    >
      <ion-icon name="cash-outline"></ion-icon>
      Transactions
    </ion-tab-button>
    <ion-tab-button
      tab="profile"
      routerLink="/profile"
      routerLinkActive="active"
    >
      <ion-icon name="person-circle-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
