<div class="container">
  <div class="row justify-content-center">
    <div class="row p-2 my-2 rounded bg-light shadow-lg" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
      <div class="col-4">
        <img
          class="group-icon"
          src="/assets/category/trip.png"
          alt="Group Icon"
        />
      </div>
      <div class="col-8">
        <h5>UG 851 Home</h5>
        <small>you owns </small> <small class="fw-bold app-text-primary"> $364</small>
      </div>
    </div>
  </div>
</div>
