.group-icon {
    width: 5rem;
    height: 5rem;
}

.group-card-wrapper{
    padding-bottom: 6rem;
    overflow-y: scroll;
}


.group-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}