<div class="container h-100">
  <div class="row justify-content-center h-100 group-card-wrapper">
    <ion-card
      class="row p-2 my-3 rounded"
      *ngFor="let i of [1, 2, 3, 4, 6, 7, 8]"
    >
      <div class="col-4">
        <img
          class="group-icon"
          src="/assets/category/trip.png"
          alt="Group Icon"
        />
      </div>
      <div class="col-8">
        <h5>UG 851 Home</h5>
        <small>you owns </small>
        <small class="fw-bold app-text-primary"> $364</small>
      </div>
    </ion-card>
  </div>
</div>
