<div class="container h-100">
  <div class="row justify-content-center group-card-wrapper">
    <ion-card
      class="row p-2 my-3 rounded"
      *ngFor="let g of groupData"
      (click)="viewGroup(g?.groupId)"
    >
      <div class="col-4">
        <img
          class="group-icon"
          [src]="g?.groupImage"
          alt="Group Icon"
        />
      </div>
      <div class="col-8">
        <h5 class="group-name">{{g?.groupName}}</h5>
        <small>you owns </small>
        <small class="fw-bold app-text-primary">{{g?.totalAmountYouOwe}}</small>
      </div>
    </ion-card>
  </div>
</div>
