<ion-modal [isOpen]="modelStatus" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <div>
      <ion-button fill="clear" color="dark" (click)="close()">Close</ion-button>
    </div>

    <!-- main content -->
    <ion-content class="ion-padding">
      <div class="container">
        <div class="row">
          <!-- user input field -->
          <div class="col-12">
            <p>Add new members to group</p>
            <form [formGroup]="userForm">
              <ion-input
                formControlName="userId"
                label="Enter User ID"
                label-placement="floating"
                fill="outline"
                placeholder="Enter User ID"
              ></ion-input>
            </form>
          </div>
          <!-- newly added peoples -->
          <div class="col-12 mt-2" *ngIf="newMembersList.length > 0">
            <p>New Members : </p>
            <ion-chip class="mx-1" *ngFor="let u of newMembersList" (click)="removeMember(u)">
              <ion-avatar>
                <img [alt]="u?.name" [src]="u?.googleImg" />
              </ion-avatar>
              <ion-label>{{ u?.name }}</ion-label>
            </ion-chip>
          </div>
          <!-- matched peoples list -->
          <div class="col-12 mt-2" *ngIf="usersData.length > 0">
            <p>Matched Peoples List : </p>
            <div class="d-flex px-1 flex-wrap">
              <ion-chip
                class="mx-1"
                *ngFor="let u of usersData"
                (click)="addNewMembers(u)"
                [disabled]="u.isAdded"
              >
                <ion-avatar>
                  <img [alt]="u?.name" [src]="u?.googleImg" />
                </ion-avatar>
                <ion-label>{{ u?.name }}</ion-label>
              </ion-chip>
            </div>
          </div>
        </div>

        <!-- add members button -->
         <div class="col-12 mt-3">
          <ion-button
          (click)="addMembersToGroup()"
          expand="full"
          [disabled]="newMembersList.length === 0"
          >Add Members</ion-button
        >
         </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
