@font-face {
    font-family: 'Matemasie';
    src: url('/assets/fonts/Matemasie-Regular.ttf') format('truetype'); /* Use 'truetype' for .ttf files */
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --primary-color: #7ba07d;
  }


  